@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC");

.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* typography */

html {
  font-family: "helvetica neue", sans-serif;
}

h1 {
  font-family: "Playfair Display SC";
  font-weight: 500;
  font-size: "64px";
}

thead th,
tfoot th {
  font-family: "Rock Salt";
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p {
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.recipe-image {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}

/* Set the width of the columns */
.recipe-list table th:nth-child(4), /* Ingredients column */
.recipe-list table th:nth-child(5) /* Preparation column */ {
  width: 30%;
}

.recipe-list table th:nth-child(1), /* Name column */
.recipe-list table th:nth-child(2), /* Cuisine column */
.recipe-list table th:nth-child(3), /* Photo column */
.recipe-list table th:nth-child(6) /* Actions column */ {
  width: 10%;
}

/* Set the zebra striping color pattern for the rows in tbody */
.recipe-list table tbody tr:nth-child(odd) {
  background-color: #fff0c7;
}
